.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 0 1px;
}

.col {
    padding-left: 2px;
    padding-right: 2px;
}

fieldset {
    /* display: flex; */
    flex-direction: column;
    padding: 5px;
}

.tab-content input[type=range] {
    width: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

#undo {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 100000;
}

/* .synth1 a.nav-link{
    color: #ff00ff;
}
.synth2 a.nav-link{
    color: #00ff80;
}

.synth1 a.nav-link.active {
    background: #ff00ff;
    color: black;
}
.synth2 a.nav-link.active  {
    background: #00ff80;
    color: black;
}

.synth1 input[type="range"]::-webkit-slider-thumb {
    background: #ff00ff;
}
.synth2 input[type="range"]::-webkit-slider-thumb {
    background: #00ff80;
}

.synth1 input[type="range"]::-webkit-slider-thumb:after {
    background: #ff00ff;
}
.synth2 input[type="range"]::-webkit-slider-thumb:after {
    background: #00ff80;
}

input[type="range"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -appearance:none;
    background: linear-gradient(to right, #4589B0 0%, #4589B0 100%);
    background-size:100% 6px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;

    width:-webkit-fill-available;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    -moz-appearance:none;
    -appearance:none;
    width:15px;
    height:15px;
    background:#1D628B;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:-webkit-fill-available;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

.synth1 input[type="range"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -appearance:none;
    background: linear-gradient(to right, #be0dc1 0%, #be0dc1 100%);
    background-size:100% 6px;
    background-position:center;
    background-repeat:no-repeat;
}
.synth2 input[type="range"] {
    -webkit-appearance:none;
    -moz-appearance:none;
    -appearance:none;
    background: linear-gradient(to right, #0cbf69 0%, #0cbf69 100%);
    background-size:100% 6px;
    background-position:center;
    background-repeat:no-repeat;
} */