h1 {
    border-bottom: 1px solid;
    margin: 0.7em 4px 0.2em;
    font-size: x-large;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex: 1 0 1px;
}

.col {
    padding-left: 2px;
    padding-right: 2px;
}

fieldset {
    flex-direction: column;
    padding: 5px;
}

.tab-content input[type=range] {
    width: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.dropdown-menu {
    display: none;
    position: relative;
    float: left;
}

.dropdown-menu.show {
    display: inline-block;
}

.navbar {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    border-bottom: 1px solid;
    color: white !important;
}

body {
    padding-top: 1.5em;
}

.navbar-brand {
    color: lightseagreen;
}