input[type="range"] {
    -webkit-appearance:none;
    background: linear-gradient(to right, #4589B0 0%, #4589B0 100%);
    background-size:190px 6px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;

    width:200px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:15px;
    height:15px;
    background:#1D628B;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.3);
}

input[type="range"]::-webkit-slider-thumb:after{
    content:" ";
    width:200px;
    height:10px;
    position:absolute;
    z-index:1;
    right:20px;
    top:5px;
    background: #ff5b32;
    background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

.synth1 input[type="range"] {
    -webkit-appearance:none;
    background: linear-gradient(to right, #be0dc1 0%, #be0dc1 100%);
    background-size:190px 6px;
    background-position:center;
    background-repeat:no-repeat;
}
.synth2 input[type="range"] {
    -webkit-appearance:none;
    background: linear-gradient(to right, #0cbf69 0%, #0cbf69 100%);
    background-size:190px 6px;
    background-position:center;
    background-repeat:no-repeat;
}

.synth1 input[type="range"]::-webkit-slider-thumb {
    background: #ff00ff;
}
.synth2 input[type="range"]::-webkit-slider-thumb {
    background: #00ff80;
}

.synth1 input[type="range"]::-webkit-slider-thumb:after {
    background: #ff00ff;
}
.synth2 input[type="range"]::-webkit-slider-thumb:after {
    background: #00ff80;
}
